/* ------------------------------
   Table
------------------------------ */
.tbl{
    display: table;
}

.row{
    display: table-row;
}

.row>div{
    display: table-cell;
}

/* ------------------------------
   #Areas
------------------------------ */
#mainArea .ui-tabs-anchor{
    font-size:12px !important;
}

#contentsArea{
    width:100%;
    position:absolute;
    top: 45px;
    left: 0px;
    bottom: 10px;
    overflow-y: auto;
    padding-top: 30px;
}

#menuList {
    width: 100%;
    height: 45px;
    border-bottom: #aaa 1px solid;
    z-index: 3000;
    background-color: #0c549c;
    display: flex;
    font-size:10pt;
    box-shadow: 0 3px 6px rgba(0,0,0,.225)
}

/* ------------------------------
   Menu display
------------------------------ */
#soqlContent,
#describeContent,
#metadataContent,
#toolingContent,
#apexContent{
    display:none;
}

.soql #soqlContent,
.describe #describeContent,
.metadata #metadataContent,
.tooling #toolingContent,
.apex #apexContent{
    display:block;
}

/* ------------------------------
    Progress bar
------------------------------ */
#progress{
      visibility: hidden;
      height: 2px;
      width: 100%;
      position: fixed;
      top: 0px;
      left: 0px;
      z-index: 3500;
}

.progress-line, .progress-line:before {
    height: 2px;
    width: 100%;
    margin: 0;
}

.progress-line {
    display: -webkit-flex;
    display: flex;
}

.progress-line:before {
    background-color: #f0ad4e;
    content: '';
    -webkit-animation: running-progress 3s cubic-bezier(0.4, 0, 0.2, 1) infinite;
    animation: running-progress 3s cubic-bezier(0.4, 0, 0.2, 1) infinite;
    }

    @-webkit-keyframes running-progress {
    0% { margin-left: 0px; margin-right: 100%; }
    50% { margin-left: 25%; margin-right: 0%; }
    100% { margin-left: 100%; margin-right: 0; }
    }

    @keyframes running-progress {
    0% { margin-left: 0px; margin-right: 100%; }
    50% { margin-left: 25%; margin-right: 0%; }
    100% { margin-left: 100%; margin-right: 0; }
}

